// MY CODE STARTS HERE

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

@font: 'Lato', sans-serif;
@center: 0 auto;

.vertical-spread {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: @font;
	color: #fff;
}

body {
	background: #111;
}

.container {
	max-width: 1000px;
	margin: @center;
	background: #222;
}

nav {
	background: #181818;
	padding: 16px 0;
	.nav-items {
		width: 50%;
		display: flex;
		justify-content: space-around;
		margin: @center;
	}

	li {
		display: inline-block;
	}

	a {
		text-decoration: none;
	}
}

.profile {
	padding: 32px;
	margin: @center;
	display: flex;

	img {
		width: 15%;
		height: auto;
	}

	.profile-header {
		padding: 0 16px;
		flex-grow: 1;
	}

	.info-titles {
		text-align: right;
		padding: 0 8px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}

.about-me {
	padding: 0 32px;

	p {
		padding: 16px 0;
	}
}

.resume {
	display: flex;

	.resume-info {
		width: 75%;
		padding: 32px;

		.resume-heading {
			background: #333;
			padding: 8px;
		}

		.employment,
		.education {
			padding: 16px 0;
		}

		.item {
			padding: 32px 0;
		}

		.item-heading {
			display: flex;
			align-items: baseline;
			justify-content: space-between;
			padding-bottom: 16px;
		}
	}

	.resume-sidebar {
		width: 25%;
		padding: 32px;

		.skills-item {
			h2 {
				background: #333;
				padding: 8px;
			}

			ul {
				padding: 32px 0;
				list-style-type: square;
				list-style-position: inside;
			}
		}
	}
}

footer {
	padding: 16px 32px;
	background: #181818;
	text-align: center;
}
